/**
 * Outputs vendor-prefixed styling for placeholders
 * @param $color: text color
 */
@mixin placeholder($color) {
  &.placeholder { color: $color; }
  
  &:-moz-placeholder {
    opacity: 1;
    color: $color;
  }

  &::-moz-placeholder { 
    opacity: 1;
    color: $color; 
  }
  
  &::-webkit-input-placeholder { color: $color; }
}
