/**
 * Define a semi-transparent black color
 * @param $opacity: alpha value
 */
@function black($opacity: 1) {
  @return rgba(0,0,0,$opacity);
}

/**
 * Define a semi-transparent white color
 * @param $opacity: alpha value
 */
@function white($opacity: 1) {
  @return rgba(255,255,255,$opacity);
}

/**
 * Strip number units when necessary
 * @param $number: px, rem, em, % value
 */
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

/**
 * Convert pixels to em
 * @param $px
 * @param $base
 */
@function em($px, $base: 16) {
  @if not unitless($px) {
    $px: strip-units($px);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($px / $base) * 1em;
}

/**
 * Convert pixels to rem
 * @param $px
 * @param $base
 */
@function rem($px, $base: 16) {
  @if not unitless($px) {
    $px: strip-units($px);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($px / $base) * 1rem;
}

/**
 * Make use of the resposnsive formula: target/context = result
 * @param $rrg: target
 * @param $cnt: context
 */
@function result($trg, $cnt) {
  @if not unitless($trg) {
    $trg: strip-units($trg);
  }
  @if not unitless($cnt) {
    $cnt: strip-units($cnt);
  }

  $result: ($trg / $cnt) * 100;
  @return $result * 1%;
}
