/**
 * Center a block element within it's parent container
 * @param  $width: You can give the element a width if you want
 */
@mixin center-block($width: false) {
  @if($width) {
    width: $width;
  }

  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Position an element absolute
 * @param  $top: top position value
 * @param  $right: right position value
 * @param  $bottom: bottom position value
 * @param  $left: left position value
 */
@mixin pos-abs($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  
  position: absolute;
}

/**
 * Position an element relative
 * @param  $top: top position value
 * @param  $right: right position value
 * @param  $bottom: bottom position value
 * @param  $left: left position value
 */
@mixin pos-rel($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;

  position: relative;
}

/**
 * Position list-items horizontally.
 */
@mixin nav-list {
  @include reset-lists;
  
  > li {
    @include inline-block;
  }
}

/**
 * Set font-size in rem and provide a fallback for older browsers
 * @param  $px
 * @param  $base
 */
@mixin font-rem($px, $base: 16) {
  font-size: $px;
  font-size: rem($px, $base);
}

/**
 * Gove an element a specific width and/or height
 * @param  $width
 * @param  $height
 */
@mixin size($width: false, $height: false) {
  @if($width) {
    width: $width;
  }

  @if($height) {
    height: $height;
  }
}

/**
 * Vertical align two elements
 * @param  $child
 * @param  $align; top, middle or bottom
 */
@mixin vert-align($child: false, $align: middle) {
  display: table;

  %code {
    display: table-cell;
    vertical-align: $align;
  }

  @if $child {
    #{$child} {
      @extend %code;
    }
  }
  @else {
    > div {
      @extend %code;
    }
  }
}
