/**
 * Override the default text selection color
 * @param  $color
 * @param  $text: Use this if you want toch change the text color
 */
@mixin text-selection($color, $text: false) {
  &::selection {
    @if($text) { 
      color: $text;
    }

    background-color: $color; 
  }

  &::-moz-selection { 
    @if($text) { 
      color: $text;
    }

    background-color: $color; 
  }
}

/**
 * Create a letterpress effect using text-shadow
 * @param  $opacity
 */
@mixin letterpress($opacity: 1) {
  @include text-shadow(white($opacity) 0 1px 0);
}

/**
 * Create a emboss effect using box-shadow
 * @param  $opac_wh: white opacity
 * @param  $opac_bl: black opacity
 */
@mixin box-emboss($opac_wh: 1, $opac_bl: 1) {
  @include box-shadow(white($opac_wh) 0 1px 0, black($opac_bl) 0 1px 0 inset);
}

/**
 * Create a css based triangle
 * @param  $color: triangle color
 * @param  $size: border thickness
 * @param  $point: pointer direction
 */
@mixin triangle($color: #000, $size: 50px, $point: top) {
  $opposite: opposite-position($point);

  height: 0;
  width: 0;

  border: $size solid rgba(255, 255, 255, 0);
  border-#{$opposite}: $size solid $color;
  border-#{$point}: 0;
}

/**
 * It will transform your flat-color button to a gradient button
 * @param  $bg: backhround color
 * @param  $text: text color
 * @param  $input: set to true if you are using a submit button
 */
@mixin gradient-button($bg, $text: #FFF, $input:false) {
  
  @if($input) {
    border: none;
    cursor: pointer;
  }
  @else {
    display: block;
  }

  color: $text;
  text-align: center;
  
  background-color: $bg;
  @include background-image(linear-gradient(top, rgba(255,255,255,0.15), rgba(0,0,0,0.15)));
}

/**
 * Vertical align elements with a dyncamic witdh
 */
@mixin ghost-valign() {
  &:before {
    content: '';

    @include inline-block(middle);

    height: 100%; 
    width: .1px;
  }
}


/**
 * This will truncate text
 * @param  $overlflow: ellipsis, clip or a string
 */
@mixin truncate-text($overflow: ellipsis) {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: $overflow;
}


/**
 * This compass simplifies your compass animations
 * @param  $property
 * @param  $duration
 * @param  $timing
 */
@mixin animation($property: all, $duration: 0.15s, $timing: linear) {
  
  @include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function($timing);
}

/**
 * Give the same property value for focus, active and hover state.
 */
@mixin haf() {
  
  &:hover, 
  &:active, 
  &:focus { @content; }
}

/**
 * Vendorize any property you want.
 * @param  $property
 * @param  $value
 */
@mixin prefix($property, $value) {

  $prefixes: ("-webkit-","-moz-", "-o-", "-ms-");

  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }

  #{$property}: #{$value};
}
