/**
 * Remove (default) list-item images
 */
@mixin reset-lists {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

/**
 * Hide text when using image replacement
 */
@mixin hide-text {
  border: none;

  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/**
 * Reset the margins and paddings from an elemant
 */
@mixin reset-mar-pad {
  margin: 0;
  padding: 0;
}

/**
 * Reset padding, margin, font, border and background
 */
@mixin reset-element {
  @include reset-mar-pad;
  font-size: 100%;
  font: inherit;

  vertical-align: baseline;

  border: 0;
  background: transparent;
}

/**
 * The mixin resets table specific properties
 */
@mixin reset-table {
  @include reset-mar-pad;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  
  background: none;
}
